* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.image {
    position: absolute;
    transition: all .20s;
    pointer-events: none;
}

.image img {
    width: 200px;
    background-repeat: no-repeat;
}

